---
import Layout from '@/layouts/layout.astro';
import  Badge  from '@/components/elements/Badge.astro';
import { members } from '@/data/members';
import { Image } from 'astro:assets';
---

<Layout title="開発メンバー | おてだま">
  <div class="flex flex-col w-full mp-otdm">
    <div class="flex justify-center">
      <h1 class="text-4xl sm:text-5xl font-500">開発メンバー</h1>
    </div>
    <div class="flex-1 grid place-items-center">
      <div class="flex flex-wrap justify-center gap-4 mt-12 sm:mt-16">
        {members.map( members => (
          <div class="flex-none w-72 h-96 bg-docs-primary border-(2 otdm-secondary) rounded-lg overflow-hidden">
            <div class="relative">
              <Image
                src={members.headerImage}
                alt={`${members.name} header`}
                class="w-full h-36 object-cover"
              />
              <div class="absolute -bottom-12 p-2">
                <Image 
                  src={members.avatar}
                  alt={members.name}
                  width={80}
                  height={80}
                  class="rounded-full border-(4 docs-primary )"
                  />
              </div>
            </div>
            <div class="mx-4">
              <div class="flex justify-end items-center h-12 text-sm">
                <Badge color="cyan">{members.role}</Badge>
              </div>
              <div class="flex flex-col gap-4">
                <div>
                  <a href={members.github} class="text-xl font-500 hover:underline">{members.name}</a>
                </div>
                <p>{members.bio}</p>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</Layout>