---
import Layout from '@/layouts/layout.astro';
import  Badge  from '@/components/elements/Badge.astro';
import { members } from '@/data/members';
import { Image } from 'astro:assets';
---

<Layout title="開発メンバー | おてだま">
  <div class="w-full mp-otdm">
    <div class="mx-8 ">
      <h1 class="text-4xl text-center sm:text-start">開発メンバー</h1>
    </div>
    <div class="grid justify-center gap-4 [grid-template-columns:repeat(auto-fit,18rem)] mt-12">
      {members.map( members => (
        <div class="w-72 h-96 bg-docs-primary border-(2 otdm-secondary) rounded-lg overflow-hidden">
          <div class="relative">
            <Image
              src={members.headerImage}
              alt={`${members.name} header`}
              class="w-full h-36 object-cover"
            />
            <a href={members.github} class="absolute -bottom-12 p-2">
              <Image 
                src={members.avatar}
                alt={members.name}
                width={80}
                height={80}
                class="rounded-full border-(4 docs-primary )"
                />
            </a>
          </div>
          <div class="mx-4">
            <div class="flex justify-end items-center h-12 text-sm">
              <Badge color="cyan">{members.role}</Badge>
            </div>
            <div class="flex flex-col gap-4">
              <a class="text-xl font-500" href={members.github}>{members.name}</a>
              <p>{members.bio}</p>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>