---
import Layout from "./layout.astro";
import DocsBox from "@/components/main/docs/DocsBox.astro";
import DocsNav from "@/components/main/docs/DocsNav.astro";

interface Props {
  frontmatter: {
    title: string;
    header: string;
    author: string;
    authorLink: string;
  };
}

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex gap-8 my-8 px-4 sm:(my-16)">
    <DocsNav />
    <DocsBox header={frontmatter.header} author={frontmatter.author} authorLink={frontmatter.authorLink}>
      <slot />
    </DocsBox>
  </div>
</Layout>