---
import DocsBox from "@/components/DocsBox.astro";
import Layout from "./layout.astro";

interface Props {
  frontmatter: {
    title: string;
    header: string;
    author: string;
    authorLink: string;
  };
}

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex gap-4 justify-center p-12">
    <div class="lg:flex hidden box-main min-w-64">
    </div>
    <DocsBox header={frontmatter.header} author={frontmatter.author} authorLink={frontmatter.authorLink}>
      <slot />
    </DocsBox>
  </div>
</Layout>