---
import DocsBox from "@/components/docs/DocsBox.astro";
import Layout from "./layout.astro";
import Navigation from "@/components/docs/Navigation.astro";

interface Props {
  frontmatter: {
    title: string;
    header: string;
    author: string;
    authorLink: string;
  };
}

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex gap-8 justify-center min-h-screen p-12">
    <Navigation />
    <DocsBox header={frontmatter.header} author={frontmatter.author} authorLink={frontmatter.authorLink}>
      <slot />
    </DocsBox>
  </div>
</Layout>