---
import Layout from "./layout.astro";
import DocsBox from "@/components/contents/docs/DocsBox.astro";
import DocsNav from "@/components/contents/docs/DocsNav.astro";

interface Props {
  frontmatter: {
    title: string;
    header: string;
    author: string;
    authorLink: string;
  };
}

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex justify-center gap-12 w-full mp-otdm">
    <DocsNav />
    <DocsBox header={frontmatter.header} author={frontmatter.author} authorLink={frontmatter.authorLink}>
      <slot />
    </DocsBox>
  </div>
</Layout>